@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box; /* o navegador não calcula dimensões de elementos com bordas e margens de altura e largura. */
}

body{
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 10px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    padding: 10px;
    font-size: 24px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.btn:focus , .input:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(200px);
}