<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor BI</title>
    <link rel="stylesheet" type="text/css" href="../base/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <script src="https://kit.fontawesome.com/6aaa0595b6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/script.js" defer></script>
</head>
<body>
    <container class="interface-container">
            <div class="img-box"></div>
            <div class="data-area">
                <form class="login">
                    <div class="usuario form-control">
                        <input type="text" id="user" name="user" autocomplete="off" required>
                        <label>Usuário</label>
                    </div>
                    
                    <div class="pass form-control">
                       <input type="password" id="pass" name="pass" autocomplete="off" required>
                        <label>Senha</label>
                    </div>
                        

                    <button class="esqueci-senha">Esqueci minha senha!</button>
                    <div class="btn-process">
                        <button class="sign-in">Entrar</button>
                    </div>
                </form>
            </div>
        </container>
</body>
</html>