<div class="auth-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placholder="Write your email">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placholder="Write your password">
        </div>
        <input type="submit" value="Login">
        <p>Don´t have an account? <a href="/register">Click here!</a></p>
    </form>
</div>