.container{
    height:400px;
    max-width:300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    align-content: space-between;
}

.item{
    background: orangered;
    padding: 0 5px;
    flex: 1;
    text-align: center;
    color: white;
    margin:5px;
}